* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: white;
    font-family: 'Tilt Warp', sans-serif;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    width: 56.25vh;
    height: 100vh;
    background: #FCFCFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.c1 {
    display: flex;
    width: 100%;
    flex-grow: 1;
}
.content {
    padding: 0vh 1.5vh 0px 1.5vh;
    flex-grow: 1; /* Garante que o conteúdo ocupe o espaço restante */
    overflow-x: auto; /* Adiciona a barra de rolagem horizontal */
    overflow-y: hidden;
}

.content .title {
    padding: 3.0vh 0vh 10vh 0vh;
    color: #414141;
    text-align: center;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

.opcao-grid {
    height: 60vh;
    width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
    display: flex;
    gap: 1vh;
    overflow-y: auto;
    max-height: 75vh;
    flex-direction: column; /* Arrange items in a vertical column */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
    scrollbar-color: #4545452c transparent; 
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7 {
    width: 90%;
    height: 18vh;
    padding: 1.30vh;
    background: #FFFFFE;
    border-radius: 2vh;
    transition: background-color 0.3s;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo com espaço entre eles */
    align-items: center; /* Centraliza horizontalmente */
    filter: drop-shadow(0px 9px 17.3px rgba(206, 206, 206, 0.25));
    border: 0.4vh rgb(128, 128, 128) solid ; 
    transition: 0.1s ease;
}

.C1 .opcao-titulo,
.C2 .opcao-titulo,
.C3 .opcao-titulo,
.C4 .opcao-titulo,
.C5 .opcao-titulo,
.C6 .opcao-titulo,
.C7 .opcao-titulo {
    color: #414141;
    font-weight: 400;
    font-size: 2.2vh;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-left: 2vh; /* Remove margens extras */
    text-decoration: none;
}

.C1.selected, .C2.selected, .C3.selected, .C4.selected, .C5.selected, .C6.selected, .C7.selected {
    border: 0.5vh solid #414141; /* Adiciona a borda preta quando selecionado */
}

.C1:hover, .C2:hover, .C3:hover, .C4:hover, .C5:hover, .C6:hover, .C7:hover {
    background-color: #F0F0F0;
}

.opcao-imagem {
    width: 12vh;
    height: auto;
    margin-top: 0vh; /* Adiciona margem superior */
    display: block;
}

.ConteinerBtn {
    gap: 1vh;
    padding: 1.5vh 0 0 0; /* Subi o padding-top para subir os botões */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente, caso necessário */
    height: 17vh;
}

.ConteinerBtn .NavBtn {
    width: 100%;
    height: 2.5vh;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro de cada botão */
    align-items: center;
}

.ConteinerBtn .NavBtn #cancelar {
    width: 20vh;
    height: 4.4vh;
    margin: 0 auto;
    color: #414141;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 1.5vh;
    border: 0.5vh solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConteinerBtn .NavBtn #prosseguir {
    width: 20vh;
    height: 4.4vh;
    margin: 0 auto;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 1.5vh;
    background-color: #9FD942;
    color: #ffffff;
    border: 0.5vh solid #9FD942;
}

.ConteinerBtn .NavBtn a {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.btn-excluir-revisao {
    background-color: #ff5638;
    width: 10vh;
    height: 4vh;
    border-radius: 2vh;
    color: #ffffff;
    border: none;
    margin-right: 1vh;
    font-family: 'Tilt Warp', sans-serif;
}

.divcupom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.8vh;
    margin-bottom: 1.5vh;
}

.cupom {
    height: 3.4vh;
    margin-top: 3.4vh; 
    max-width: 30vh; /* LARGURA MENOR E FIXA */
    padding: 0 8vh;
    color: #ffffff;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    border-radius: 2.2vh 0 0 2.2vh;
    border: 0.5vh solid #990000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #990000;
    gap: 1vh;
    white-space: nowrap;
    overflow: hidden;
    
}

.icone-cupom {
    height: 2.2vh;
    width: auto;
}

.total-revisao-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    gap: 1vh;
}

.total-revisao-label {
    font-size: 2.2vh;
    color: #4F4F4F;
    font-weight: 400;
}

.total-revisao-preco {
    font-size: 2.2vh;
    color: #FB4343;
    font-weight: 400;
}