* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: white;
    font-family: 'Tilt Warp', sans-serif;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    width: 56.25vh;
    height: 100vh;
    background: #FCFCFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.c1 {
    display: flex;
    width: 100%;
    flex-grow: 1;
}
.content {
    padding: 0vh 1.5vh 0px 1.5vh;
    flex-grow: 1; /* Garante que o conteúdo ocupe o espaço restante */
    overflow-x: auto; /* Adiciona a barra de rolagem horizontal */
    overflow-y: hidden;

    & .title {
        padding: 18vh 0vh 10vh 0vh;
        color: #414141;
        text-align: center;
        font-size: 2.5vh;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
    }
}
.opcao-grid {
    height: 30vh;
    width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
    display: flex;
    gap: 1vh;
    overflow-y: auto;
    max-height: 75vh;

    align-items: center;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.cartao, .pix , .dinheiro {

    width: 17vh;
    height: 17vh;
    padding: 1.30vh;
    background: #FFFFFE;
    border-radius: 2vh;
    transition: background-color 0.3s;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo com espaço entre eles */
    align-items: center; /* Centraliza horizontalmente */
    filter: drop-shadow(0px 9px 17.3px rgba(206, 206, 206, 0.25));
    transition: 0.1s ease;

    & .opcao-imagem {
        width: 8vh;
        height: auto;
        margin-top: 1vh; /* Adiciona margem superior */
        display: block;
    }
    & .opcao-titulo {
        color: #414141;
        font-weight: 400;
        font-size: 2vh;
        text-align: center; /* Centraliza o texto horizontalmente */
        margin: 0vh; /* Remove margens extras */
        margin-bottom: 1vh; /* Adiciona margem inferior */
        text-decoration: none;
    }
    &.selected {
        border: 0.5vh solid #414141; /* Adiciona a borda preta quando selecionado */
       
    }
}
.cartao:hover, .pix:hover , .dinheiro:hover {
    background-color: #F0F0F0;
}









.ConteinerBtn {
    display: flex;
    gap: 1vh;
    padding: 3vh;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente, caso necessário */
    height: auto;

& .NavBtn {
    width: 100%;
    height: 2.5vh;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro de cada botão */
    align-items: center;

    & #cancelar{
        width: 20vh;
        height: 4.4vh;
        margin: 0 auto;
        color: #414141;
        text-align: center;
        font-size: 2vh;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        border-radius: 1.5vh;

        border: 0.5vh solid #414141;
    }

    & #prosseguir{

        width: 20vh;
        height: 4.4vh;
        margin: 0 auto;
        text-align: center;
        font-size: 2vh;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        border-radius: 1.5vh;
        background-color: #9FD942;
        color: #ffffff ;

        border: 0.5vh solid #9FD942;
    }
    & a {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
    }

    }
 
}